<nav>
    <span>
        <a href="/">
            <img src="/logos/dm.png" alt="">
        </a>
    </span>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</nav>